<div class="registration-container">
  <div class="vertical-align-container">
    <div class="registration-text">
      <h1>Register as Student</h1>
      <p>
        Do consectetur proident proident id eiusmod deserunt consequat pariatur ad ex velit do Lorem reprehenderit.
        we believe in the power of community and the opportunities it brings. When you join us, you gain access to a
        world of benefits and possibilities:
        Exclusive Access: Joining our community gives you exclusive access to premium features, content, and events.
        Connect with Experts: Network with experts, mentors, and like-minded individuals who share your passions.
      </p>
      <app-button text="Join us" (click)="navigateRegistrationStudent()"></app-button>
    </div>
  </div>

  <div class="registration-image">
    <img src="assets/img/team.png" class="join-us-img" alt="Our team">
  </div>
</div>

<div class="registration-container">
  <div class="vertical-align-container">
    <div class="registration-text">
      <h1>Register as Trainer</h1>
      <p>
        Do consectetur proident proident id eiusmod deserunt consequat pariatur ad ex velit do Lorem reprehenderit.
        we believe in the power of community and the opportunities it brings. When you join us, you gain access to a
        world of benefits and possibilities:
        Exclusive Access: Joining our community gives you exclusive access to premium features, content, and events.
        Connect with Experts: Network with experts, mentors, and like-minded individuals who share your passions.
      </p>
      <app-button text="Join us" (click)="navigateRegistrationTrainer()"></app-button>
    </div>
  </div>

  <div class="registration-image">
    <img src="assets/img/team.png" class="join-us-img" alt="Our team">
  </div>
</div>
