<div class="">
  <h2>Change password</h2>

  <form (ngSubmit)="onSubmitChangePassword()">

    <label for="oldPassword">Old password</label>
    <input type="password" id="oldPassword" name="oldPassword" [(ngModel)]="formData.oldPassword" required>
    <span *ngIf="isOldPasswordInvalid" class="error-message">
      Password is required.
    </span>

    <label for="newPassword">New password</label>
    <input type="password" id="newPassword" name="newPassword" [(ngModel)]="formData.newPassword" required>
    <span *ngIf="isNewPasswordInvalid" class="error-message">
      Password is required.
    </span>

    <label for="newPasswordRepeat">New password repeat</label>
    <input type="password" id="newPasswordRepeat" name="newPasswordRepeat" [(ngModel)]="formData.newPasswordRepeat" required>
    <span *ngIf="isNewPasswordRepeatInvalid" class="error-message">
      Password is required.
    </span>

    <button type="submit">Submit</button>

    <span *ngIf="isPasswordsEqualityInvalid" class="error-message">
      New password and repeat should be equal.
    </span>
  </form>

  <div *ngIf="isLoading" class="loading-overlay">
    <div class="loading-message">
      <p>Loading...</p>
      <div class="spinner"></div>
    </div>
  </div>
</div>
