<div class="take-all-vertical-space">
  <div class="login-container">
    <h2>Login</h2>

    <form (ngSubmit)="onSubmitLogin()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" [(ngModel)]="formData.username" required>
        <div *ngIf="isLoginInvalid" class="error-message">
          Username is required.
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="formData.password" required>
        <div *ngIf="isPasswordInvalid" class="error-message">
          Password is required.
        </div>
      </div>

      <button type="submit" [disabled]="isLoading">Login</button>

      <div *ngIf="(isErrorWhileLogin && errorText)" class="error-message">
        <p>{{ errorText }}</p>
      </div>
    </form>

    <div *ngIf="isLoading" class="loading-overlay">
      <div class="loading-message">
        <p>Loading...</p>
        <div class="spinner"></div>
      </div>
    </div>

  </div>
</div>
