.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-image {
  display: flex;
  flex: 1;
  justify-content: center;
}

.box-image img {
  width: 70%;
  text-align: center;
}

.box-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
